body
{
    margin: 0;
    padding: 0;
    background: #333;
    display: flex;
}

.login-form {
    width: 490px;
    height: 650px;
    position: absolute;
    padding: 25px 40px;
    background: #006a8b;
    left: 58%;
    top: 5%;
    transform: translateX(0%) translateY(0%);
    border-bottom: 5px solid gray;
    border-radius: 20px;
    display: flex;
    flex-direction: column; 
}

.login-face {
    width: 100px;
    height: 150px;
    left: -220px;
    position: relative;
    margin: -50px auto;
    top: 125px;
}

.login-face>img {
    width: 235px;
    height: auto;
    overflow: hidden;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

.login-face>img:hover
{
    -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.form
{
    width: 100%;
    position: relative;
    margin: 25px auto;
    
}

.input
{
    width: 55%;
    height: 50px;
    background: #006b8e;
    position: relative;
    margin: 15px auto;
    float: right;
    
    
}

input[type="text"],
input[type="email"]
{
    width: 100%;
    height: 50px;
    position: relative;
    outline: none;
    border: 2px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
}

.fa
{
    position: absolute;
    right: 0px;
    top: 0px;
    padding-top: 12px;
    color: gray;
}

input[type="text"]:focus,
input[type="email"]:focus
{
    border: 2px solid #0AC986;
}

input[type="submit"]
{
    position: relative;
    width: 55%;
    height: 50px;
    background: #fd5c21;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
    outline: none;
    border-radius: 12px;
    float: right;
    padding-left: 10px;
}

input[type="submit"]:hover
{
    opacity: 0.9;
}

div#submitForm {
    position: relative;
    top: 100px;
}

.input:hover 
{
    position: relative;
    animation: shake 1s;
}

@keyframes shake
{
    0%{
        left: 0px;
    }
    20%{
        left: -15px;
    }
    40%{
        left: 15px;
    }
    60%{
        left: 15px;
    }    
    80%{
        left: -15px;
    }
    100%{
        left: 0px;
    }
}

#promotion-header
{
    position: relative;
    left: 225px;
    top: 0px;
    padding-top: 0px;
}

#promotion-header-title {
    text-align: left;
    font-family: Montserrat;
    font-weight: bold;
    color: #fd5c21;
    font-size: 45px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0px;
    padding-left: 30px;
    width: 55%;
    margin-top: 0px;
    margin-bottom: 0px;
}

#promotion-body {
    position: relative;
    left: 225px;
    top: 0px;
    padding-top: 0px;
}

#promotion-body-text
{
    text-align:left;
    font-family:Montserrat;
    color:#FFFFFF;
    font-size:14px;
    font-weight:400;
    line-height:1.3;
    letter-spacing:0px;
    padding-left: 30px;
    width: 55%;
}

#promotion-footer {
    position: relative;
    left: 250px;
    top: 136px;
    padding-top: 12px;
}

#promotion-footer-text
{
    text-align:left;
    font-family:Montserrat;
    color:#FFFFFF;
    font-size:10px;
    font-weight:300;
    line-height:1.2;
    letter-spacing:0px;
    padding-left: 0px;
    width: 55%;
}

.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}

.error-msg 
{
    position: relative;
    left: 225px;
    top: 160px;
    font-family: Montserrat, sans-serif;
    color: red;
    letter-spacing: 0.28em;
    text-align: center;
    display: none;
}


.error
{
    position: relative;
    animation: shake 1s;
}

.login-form {
	-webkit-animation: login-form 1.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
	        animation: login-form 1.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-3-2 21:9:18
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-elliptic-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes login-form {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes login-form {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}