body
{
    margin: 0;
    padding: 0;
    background: #333;
}

.login-form {
    width: 470px;
    height: 506px;
    position: fixed;
    padding: 10px 10px;
    background: #006a8b;
    left: 60%;
    top: 22%;
    transform: translateX(-50%) translateY(-50%);
    border-bottom: 5px solid gray;
    border-radius: 20px;
    display: flex;
    flex-direction: column; 
    z-index: 1;
}

.login-face {
    width: 150px;
    height: 160px;
    left: -125px;
    position: relative;
    margin: -80px auto;
    top: 160px;
}

.login-face>img {
    width: 205px !important;
    height: 240px !important;
    overflow: hidden !important;
    -webkit-transition: -webkit-transform .8s ease-in-out !important;
    transition: transform .8s ease-in-out !important;
    left: 50px !important;
}

.login-face>img:hover
{
    -webkit-transform: rotate(360deg) !important;
          transform: rotate(360deg) !important;
}

.form
{
    width: 100%;
    position: relative;
    margin: 25px -5px;
    
}

.input
{
    width: 56%;
    height: 50px;
    background: #006b8e;
    position: relative;
    margin: 10px auto;
    float: right;
    
    
}

input[type="text"],
input[type="email"]
{
    width: 100% !important;
    height: 50px !important;
    position: relative !important;
    outline: none !important;
    border: 2px solid #ddd !important;
    border-radius: 10px !important;
    font-size: 16px !important;
    font-family: 'Roboto', sans-serif !important;
    padding-left: 10px !important;
    color: black !important;
}

.fa
{
    position: absolute !important;
    right: 5px !important;
    top: 0px !important;
    padding-top: 12px !important;
    color: gray !important;
}

input[type="text"]:focus,
input[type="email"]:focus
{
    border: 2px solid #0AC986 !important;
}

input[type="submit"]
{
    position: relative !important;
    width: 55% !important;
    height: 45px !important;
    background: #fd5c21 !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 18px !important;
    color: #fff !important;
    outline: none !important;
    border-radius: 12px !important;
    float: right !important;
}


button,
input[type="button"],
input[type="submit"] {
	padding: 0 1em !important;

}

input[type="submit"]:hover
{
    opacity: 0.9 !important;
}

div#submitForm {
    position: relative !important;
    top: 75px !important;
}

.input:hover 
{
    position: relative !important;
    animation: shake 1s !important;
}

@keyframes shake
{
    0%{
        left: 0px;
    }
    20%{
        left: -15px;
    }
    40%{
        left: 15px;
    }
    60%{
        left: 15px;
    }    
    80%{
        left: -15px;
    }
    100%{
        left: 0px;
    }
}

#promotion-header
{
    position: relative;
    left: 205px;
    top: 15px;
    padding-top: 0px;
}

#promotion-header-title {
    text-align: left;
    font-family: Montserrat;
    font-weight: bold;
    color: #fd5c21;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0px; 
    /*padding-left: 30px !important;*/
    width: 55%;
    margin-top: 0px;
    margin-bottom: 0px;
}

#promotion-body {
    position: relative;
    left: 225px;
    top: 0px;
    padding-top: 0px;
}

#promotion-body-text
{
    text-align:left;
    font-family:Montserrat;
    color:#FFFFFF;
    font-size:14px;
    font-weight:400;
    line-height:1.3;
    letter-spacing:0px;
    padding-left: 0px;
    width: 50%;
    margin-left: -20px;
}

#promotion-footer {
    position: relative;
    left: 230px;
    top: 125px;
    padding-top: 2px;
}

#promotion-footer-text
{
    text-align:left;
    font-family:Montserrat;
    color:#FFFFFF;
    font-size:10px;
    font-weight:300;
    line-height:1.2;
    letter-spacing:0px;
    padding-left: 0px;
    width: 55%;
    margin-top: 20px;
    margin-left: -30px;
}

.popupCloseButton {
    background-color: #fff !important;
    border: 3px solid #999 !important;
    border-radius: 50px !important;
    cursor: pointer !important;
    display: inline-block !important;
    font-family: arial !important;
    font-weight: bold !important;
    position: absolute !important;
    top: -20px !important;
    right: -20px !important;
    font-size: 25px !important;
    line-height: 30px !important;
    width: 30px !important;
    height: 30px !important;
    text-align: center !important;
}

.error-msg 
{
    position: relative;
    left: 225px;
    top: 160px;
    font-family: Montserrat, sans-serif;
    color: red;
    letter-spacing: 0.28em;
    text-align: center;
    display: none;
}


.error
{
    position: relative;
    animation: shake 1s;
}

.login-form {
	-webkit-animation: login-form 1.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
	        animation: login-form 1.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-3-2 21:9:18
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-elliptic-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes login-form {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes login-form {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {

    z-index: 1;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: grey;
}

::placeholder { /* Firefox, Chrome, Opera */ 
    color: grey !important; 
} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: grey !important;  
} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: grey !important;  
} 