body
{
    margin: 0;
    padding: 0;
    background: #333;
}

.login-form
{
    width: 300px;
    height: auto;
    position: absolute;
    padding: 10px 40px;
    background: #eee;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-bottom: 5px solid gray;
    border-radius: 4px;
}

.login-face{
    width: 100px;
    height: 100px;
    position: relative;
    background: skyblue;
    border-radius: 100px;
    margin: 0 auto;
    margin-top: 75px;
}

.login-face>img
{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;

}

.login-face>img:hover
{
    -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.form
{
    width: 100%;
    position: relative;
    margin: 25px auto;
    
}

.input
{
    width: 100%;
    height: 50px;
    background: #eee;
    position: relative;
    margin: 15px auto;
    
}

input[type="text"],
input[type="email"]
{
    width: 100%;
    height: 50px;
    position: relative;
    outline: none;
    border: 2px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
}


input[type="reset"]
{
    width: 105%;
    height: 40px;
    position: relative;
    outline: none;
    border: 2px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
    margin-bottom: 15px;
    background-color: darkgrey;
}

input[type="reset"]:hover
{
    background-color: #3b4483;/*#ff0505*/
}

.fa
{
    position: absolute;
    right: 0px;
    top: 0px;
    padding-top: 12px;
    color: gray;
}

input[type="text"]:focus,
input[type="email"]:focus
{
    border: 2px solid #0AC986;
}

input[type="submit"]
{
    width: 105%;
    height: 50px;
    background: #0AC986;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
    outline: none;
    border-radius: 12px;
}

input[type="submit"]:hover
{
   background-color: #c90a4d/*#3e8e41*/;
    opacity: 0.9;
}

.input:hover 
{
    position: relative;
    animation: shake 1s;
}

@keyframes shake
{
    0%{
        left: 0px;
    }
    20%{
        left: -15px;
    }
    40%{
        left: 15px;
    }
    60%{
        left: 15px;
    }    
    80%{
        left: -15px;
    }
    100%{
        left: 0px;
    }
}